name: Update Last.fm Stats

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update Last.fm Stats
        uses: dxnter/last-fm-readme@v1
        with:
          lastfm_user: tofu_u
          lastfm_api_key: ${{ secrets.LASTFM_API_KEY }}
          period: 7day
          type: top_albums 
